/*responsividade________________________________________________________________________*/

@media (max-width: 1024px ){
    body{
        margin: 0;
        padding: 0;
    }

    /*nome no canto*/
    .logo{
        padding: 3%;
    }
    .logo a{
        font-size: 30px;
    }

/*espessura da barra de navegação*/
    .menu nav{
        padding: 3%;
    }
    .menu nav a{
        font-size: 30px;
    }

/*tamanho do banner*/
    .banner{
        height: 30%;
    }
    .banner h1{
        font-size: 100px;
        margin-top: 18%;
    }

/*conteudo, titulo e paragrafo*/
    .content h2{
        font-size: 60px;
        padding:0%;
    }
    .content p{
        font-size: 40px;
        padding: 0px;
    }
}

/*___________________________________________________________________________________________*/

@media (max-width: 768px ){
    body{
        margin: 0;
        padding: 0;
    }

    /*nome no canto*/
    .logo{
        padding: 2%;
    }

/*espessura da barra de navegação*/
    .menu nav{
        padding: 2%;
    }
/*tamanho do banner*/
    .banner{
        height: 30%;
    }
    .banner h1{
        font-size: 100px;
        margin-top: 18%;
    }

/*conteudo, titulo e paragrafo*/
    .content h2{
        font-size: 50px;
    }
    .content p{
        font-size: 30px;
        padding: 0px;
    }
}

/*___________________________________________________________________________________________*/

@media (max-width: 360px){
    body{
        margin: 0;
        padding: 0;
    }

/*nome no canto*/
    .logo{
        padding: 2%;
    }
    .logo a{
        font-size: 15px;
    }

/*barra de navegação, espessua e links*/
    .menu nav{
        padding: 2%;
    }
    .menu nav a{
        text-align: center;
        font-size:15px;
    }

/*tamanho do banner*/
    .banner{
        height: 30%;
    }
    .banner h1{
        font-size: 35px;
        margin-top: 25%;
    }


    .content h2{
        font-size: 20px;
    }
    .content p{
        font-size: 15px;
        padding: 0px;
    }
}